In [2]:
import pandas as pd, numpy as np
from datascience import *

In [3]:
billboard = pd.read_csv("2000-01-01_to_2019-10-26.csv")
billboard_df = pd.DataFrame(billboard)
billboard_df.head()

,Track,Artist,Position,Last,Peak,Weeks,Year,Month,Week
0,Smooth,Santana Featuring Rob Thomas,1,1,1,23,2000,1,1
1,Back At One,Brian McKnight,2,2,2,19,2000,1,1
2,I Wanna Love You Forever,Jessica Simpson,3,3,3,12,2000,1,1
3,My Love Is Your Love,Whitney Houston,4,5,4,18,2000,1,1
4,I Knew I Loved You,Savage Garden,5,4,4,11,2000,1,1

In [4]:
len(billboard_df)

103500

In [5]:
billboard_unique = billboard_df.drop_duplicates(subset=['Track', 'Artist'])
billboard_table = Table.from_df(billboard_unique)
billboard_table

Track                    | Artist                                                       | Position | Last | Peak | Weeks | Year | Month | Week
Smooth                   | Santana Featuring Rob Thomas                                 | 1        | 1    | 1    | 23    | 2000 | 1     | 1
Back At One              | Brian McKnight                                               | 2        | 2    | 2    | 19    | 2000 | 1     | 1
I Wanna Love You Forever | Jessica Simpson                                              | 3        | 3    | 3    | 12    | 2000 | 1     | 1
My Love Is Your Love     | Whitney Houston                                              | 4        | 5    | 4    | 18    | 2000 | 1     | 1
I Knew I Loved You       | Savage Garden                                                | 5        | 4    | 4    | 11    | 2000 | 1     | 1
I Need To Know           | Marc Anthony                                                 | 6        | 6    | 3    | 17    | 2000 | 1     | 1
Hot Boyz                 | Missy &quot;Misdemeanor&quot; Elliott Featuring NAS, EVE ... | 7        | 7    | 7    | 6     | 2000 | 1     | 1
U Know What's Up         | Donell Jones                                                 | 8        | 8    | 7    | 15    | 2000 | 1     | 1
Bring It All To Me       | Blaque                                                       | 9        | 9    | 9    | 11    | 2000 | 1     | 1
Girl On TV               | LFO                                                          | 10       | 11   | 10   | 7     | 2000 | 1     | 1
... (7880 rows omitted)

In [6]:
billboard_table.num_rows

7890

In [7]:
billboard_table.where('Year', 2019)

Track                  | Artist                                         | Position | Last | Peak | Weeks | Year | Month | Week
A Lot                  | 21 Savage                                      | 37       | -    | 37   | 1     | 2019 | 1     | 5
Blue Christmas         | Elvis Presley                                  | 40       | -    | 40   | 1     | 2019 | 1     | 5
Run Rudolph Run        | Chuck Berry                                    | 45       | -    | 45   | 4     | 2019 | 1     | 5
Wow.                   | Post Malone                                    | 47       | -    | 47   | 1     | 2019 | 1     | 5
Jingle Bells           | Frank Sinatra                                  | 49       | -    | 49   | 1     | 2019 | 1     | 5
Swervin                | A Boogie Wit da Hoodie Featuring 6ix9ine       | 57       | -    | 57   | 1     | 2019 | 1     | 5
Can't Leave Without It | 21 Savage                                      | 58       | -    | 58   | 1     | 2019 | 1     | 5
Startender             | A Boogie Wit da Hoodie Featuring Offset & Tyga | 65       | -    | 65   | 1     | 2019 | 1     | 5
All My Friends         | 21 Savage                                      | 67       | -    | 67   | 1     | 2019 | 1     | 5
Break Da Law           | 21 Savage                                      | 70       | -    | 70   | 1     | 2019 | 1     | 5
... (426 rows omitted)

In [8]:
unpopular = pd.read_csv("55000_artist_track.csv")
unpopular_df = pd.DataFrame(unpopular)
unpopular.head()

  artist                   song
0   ABBA  Ahe's My Kind Of Girl
1   ABBA       Andante, Andante
2   ABBA         As Good As New
3   ABBA                   Bang
4   ABBA       Bang-A-Boomerang

In [9]:
len(unpopular)

57650

In [10]:
unpopular_unique = unpopular_df.drop_duplicates()
unpopular_table = Table.from_df(unpopular_unique)
unpopular_table.num_rows

57648

In [11]:
unpopular_table = unpopular_table.relabeled(['artist', 'song'], ['Artist', 'Track'])
unpopular_table

Artist | Track
ABBA   | Ahe's My Kind Of Girl
ABBA   | Andante, Andante
ABBA   | As Good As New
ABBA   | Bang
ABBA   | Bang-A-Boomerang
ABBA   | Burning My Bridges
ABBA   | Cassandra
ABBA   | Chiquitita
ABBA   | Crazy World
ABBA   | Crying Over You
... (57638 rows omitted)

In [121]:
# unpopular_table_new = unpopular_table.with_columns('Position', [0]*unpopular_table.num_rows)
# unpopular_table_new

In [125]:
unpopular_table.to_csv('unpopular_unique_artist_track.csv')
billboard_table.to_csv('billboard_unique_with_positions.csv')

In [37]:
combined = billboard_table.to_df().append(unpopular_table.to_df(), ignore_index=True)
combined

,Artist,Last,Month,Peak,Position,Track,Week,Weeks,Year
0,Santana Featuring Rob Thomas,1,1.0,1.0,1.0,Smooth,1.0,23.0,2000.0
1,Brian McKnight,2,1.0,2.0,2.0,Back At One,1.0,19.0,2000.0
2,Jessica Simpson,3,1.0,3.0,3.0,I Wanna Love You Forever,1.0,12.0,2000.0
3,Whitney Houston,5,1.0,4.0,4.0,My Love Is Your Love,1.0,18.0,2000.0
4,Savage Garden,4,1.0,4.0,5.0,I Knew I Loved You,1.0,11.0,2000.0
...,...,...,...,...,...,...,...,...,...
65533,Ziggy Marley,NaN,NaN,NaN,NaN,Good Old Days,NaN,NaN,NaN
65534,Ziggy Marley,NaN,NaN,NaN,NaN,Hand To Mouth,NaN,NaN,NaN
65535,Zwan,NaN,NaN,NaN,NaN,Come With Me,NaN,NaN,NaN
65536,Zwan,NaN,NaN,NaN,NaN,Desire,NaN,NaN,NaN
65537,Zwan,NaN,NaN,NaN,NaN,Heartsong,NaN,NaN,NaN

In [39]:
unique_combined = combined.drop_duplicates(subset=['Artist', 'Track'])
unique_combined

,Artist,Last,Month,Peak,Position,Track,Week,Weeks,Year
0,Santana Featuring Rob Thomas,1,1.0,1.0,1.0,Smooth,1.0,23.0,2000.0
1,Brian McKnight,2,1.0,2.0,2.0,Back At One,1.0,19.0,2000.0
2,Jessica Simpson,3,1.0,3.0,3.0,I Wanna Love You Forever,1.0,12.0,2000.0
3,Whitney Houston,5,1.0,4.0,4.0,My Love Is Your Love,1.0,18.0,2000.0
4,Savage Garden,4,1.0,4.0,5.0,I Knew I Loved You,1.0,11.0,2000.0
...,...,...,...,...,...,...,...,...,...
65533,Ziggy Marley,NaN,NaN,NaN,NaN,Good Old Days,NaN,NaN,NaN
65534,Ziggy Marley,NaN,NaN,NaN,NaN,Hand To Mouth,NaN,NaN,NaN
65535,Zwan,NaN,NaN,NaN,NaN,Come With Me,NaN,NaN,NaN
65536,Zwan,NaN,NaN,NaN,NaN,Desire,NaN,NaN,NaN
65537,Zwan,NaN,NaN,NaN,NaN,Heartsong,NaN,NaN,NaN

In [40]:
column_order = ['Track', 'Artist', 'Position', 'Peak', 'Last', 'Weeks', 'Year', 'Month', 'Week']
combined_unique = unique_combined.reindex(columns=column_order)
combined_unique

,Track,Artist,Position,Peak,Last,Weeks,Year,Month,Week
0,Smooth,Santana Featuring Rob Thomas,1.0,1.0,1,23.0,2000.0,1.0,1.0
1,Back At One,Brian McKnight,2.0,2.0,2,19.0,2000.0,1.0,1.0
2,I Wanna Love You Forever,Jessica Simpson,3.0,3.0,3,12.0,2000.0,1.0,1.0
3,My Love Is Your Love,Whitney Houston,4.0,4.0,5,18.0,2000.0,1.0,1.0
4,I Knew I Loved You,Savage Garden,5.0,4.0,4,11.0,2000.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
65533,Good Old Days,Ziggy Marley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65534,Hand To Mouth,Ziggy Marley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65535,Come With Me,Zwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65536,Desire,Zwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65537,Heartsong,Zwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
combined_unique = combined_unique.replace(np.nan, 0)

In [57]:
combined_unique.to_csv('combined_unique.csv', index=False)